@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  list-style: none;
  text-decoration: none;
}

:root {
  --color-background: #19335c;
  --color-background-variant: #427a93;
  --color-primary: #fee2b9;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);
}

/* =============== alternative root colors ===================

:root {
  --color-background: #1f1f38;
  --color-background-variant: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);
} */

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}
body {
  font-family: 'Poppins', sans-serif;
  background: var(--color-background);
  color: var(--color-white);
  line-height: 1.7;
}

.container {
  width: 75%;
   }

h2, h3, h4, h5 {
  font-weight: 200;
}
h5 {
  font-size: 0.9rem;
}


section {
  
  text-align: center;
}

.text-light {
  color: var(--color-light);
}
a {
  color: var(--color-primary);
  transition: all 400ms ease-in-out;
}
a:hover {
  color: var(--color-white);
}
img {
  display: block;
  width: 100%;
  object-fit: cover;
}
.btn {
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 0.4rem;
  display: inline-block;
  width: max-content;
  padding: 0.6rem 1rem;
  cursor: pointer;
  transition: all 400ms ease-in-out;

}
.btn:hover {
  background: var(--color-white);
  color: var(--color-background);
  border-color: transparent;

}
.btn-primary {
  background: var(--color-primary);
  color: var(--color-background);
}
a {
  color: var(--color-primary);
  transition:all 400ms ease-in-out ;
  font-size: 0.8rem;
}
a:hover {
  color: var(--color-white);
}